@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<section id="why-us" class="wow fadeIn" style="margin-top:50px">
    <div class="container-fluid">

        <header class="section-header">
            <h3>About Us</h3>
            <p>By unified AI-based Adinux Event Toolbox, You Can Master Your Event. Attracting visitors, generating Leads, playing AR games, Designing customized Campaigns,Creating new experience and smart follow-up are all in your hand easily without the need of coding! Empower your brand with the most innovative toolbox during your event!</p>
        </header>

        <div class="row">

            <div class="col-lg-6">
                <div class="why-us-img">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2754.5506541567293!2d59.16593361748518!3d36.54111302624819!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f6c537e2995d02f%3A0x3bf775d854e80611!2z2YXYrNiq2YXYuSDZhdiz2qnZiNmG24wg2KLYsduM2KcgKNmF2YfYsTMw2LPYp9io2YIp!5e0!3m2!1sfa!2s!4v1693569678596!5m2!1sfa!2s" style="border:0; height:400px;" class="col-md-12" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="why-us-content">

                    <div class="features wow bounceInUp clearfix">
                        <i class="fa fa-phone" style="color: #f058dc;"></i>
                        <h4>Phone number</h4>
                        <p> +1 (437) 566 1062</p>
                        @*<p>Manager application is cloud based from anywhere any time!</p>*@
                    </div>

                    <div class="features wow bounceInUp clearfix">
                        <i class="fa fa-mail-forward" style="color: #ffb774;"></i>
                        <h4>Email</h4>
                        <p>Info@adinux.com</p>
                    </div>

                    <div class="features wow bounceInUp clearfix">
                        <i class="fa fa-address-card" style="color: #589af1;"></i>
                        <h4>Address</h4>
                        <p>
                            2 Simcoe Street South, Suite 300<br>
                            Oshawa, ON. L1H 8C1 <br>
                            Canada<br>
                        </p>
                    </div>

                </div>

            </div>

        </div>

    </div>
</section>