@{
    ViewData["Title"] = "Contact Us";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<section id="why-us" class="wow fadeIn" style="margin-top:50px">
    <div class="container-fluid">

        <header class="section-header">
            <h3>Contact Us</h3>
            @* <p>By unified AI-based Adinux Event Toolbox, You Can Master Your Event. Attracting visitors, generating Leads, playing AR games, Designing customized Campaigns,Creating new experience and smart follow-up are all in your hand easily without the need of coding! Empower your brand with the most innovative toolbox during your event!</p> *@
        </header>

        <div class="row">

            <div class="col-lg-6">
                <div class="why-us-img">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d718.7498160522445!2d-78.864519230441!3d43.897281964572116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d51ce12a5433fb%3A0x766dcbb330d1d894!2s2%20Simcoe%20St%20S%2C%20Oshawa%2C%20ON%20L1H%208C1!5e0!3m2!1sen!2sca!4v1694008241463!5m2!1sen!2sca" style="border:0; height:400px;" class="col-md-12" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="why-us-content">

                    <div class="features wow bounceInUp clearfix">
                        <i class="fa fa-phone" style="color: #f058dc;"></i>
                        <h4>Phone number</h4>
                        <p> +1 (437) 566 1062</p>
                        @*<p>Manager application is cloud based from anywhere any time!</p>*@
                    </div>

                    <div class="features wow bounceInUp clearfix">
                        <i class="fa fa-mail-forward" style="color: #ffb774;"></i>
                        <h4>Email</h4>
                        <p>Info@adinux.com</p>
                    </div>

                    <div class="features wow bounceInUp clearfix">
                        <i class="fa fa-address-card" style="color: #589af1;"></i>
                        <h4>Address</h4>
                        <p>
                            2 Simcoe Street South, Suite 300<br>
                            Oshawa, ON. L1H 8C1 <br>
                            Canada<br>
                        </p>
                    </div>

                </div>

            </div>

        </div>

        <div class="section-header mt-5">
            <h3>Book an Online Appointment with Our Consultants</h3>
            <p>At Adinux, we are dedicated to providing you with the best solution for your product needs. Our team of expert consultants is ready to assist you in finding the perfect product from our Adinux range. To schedule an online appointment with our consultants, please fill out the form below:</p>
        </div>

        <div class="container mt-2">
            <div class="form">

                <form action="/Home/SendAppointment" enctype="multipart/form-data" class="contactForm">
                    <div class="form-row justify-content-center">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group col-lg-6 col-md-6 col-12">
                            <input type="text" id="FullName" name="FullName" class="form-control" placeholder="Your Full Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-12">
                            <input type="email" class="form-control" name="Email" id="Email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-12">
                            <input type="text" class="form-control" name="Phone" id="Phone" placeholder="Phone" data-rule="minlen:10" data-msg="Please enter a True Mobile Number" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-12">
                            <label>PreferredDate: </label>
                            <input type="datetime-local" id="PreferredDate" name="PreferredDate" placeholder="Preferred Date">
                        </div>
                        <div class="form-group col-12">
                            <textarea class="form-control" name="Description" id="Description" rows="5" placeholder="Briefly describe your product needs"></textarea>
                            <div class="validation"></div>
                        </div>

                        <div class="text-center"><button class="adinuxbtn" type="submit" title="Send Message">Send Message</button></div>
                    </div>
                </form>

            </div>
        </div>
        <p class="mt-3">
            Once we receive your appointment request, our customer service team will reach out to you via email or phone to confirm the appointment and provide you with the meeting details. We strive to accommodate your preferred date and time, but please note that appointment availability is subject to our consultants' schedule.
        </p>
        <p>
            If you have any immediate questions or concerns, please feel free to contact our customer service team at +1 (437) 566 1062 or email us at Info@adinux.com. We look forward to assisting you in finding the best product solution for your needs.
        </p>
    </div>
</section>