
@{
    ViewData["Title"] = "Adicamp";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<section id="services" class="section-bg" style="margin-top:50px">
    <div class="container">

        <header class="section-header">
            <h3>Campaign Design</h3>
            <h2>Adicamp</h2>
            <h3>Design a Campaign Can Be Time-money consuming. Adicamp make it for you quick and delightful.</h3>
            <h3>Adicamp Feature</h3>
        </header>

        <div class="row justify-content-center align-items-center">

            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon" style="background: #fceef3;"><i class="fa fa-book" style="color: #ff689b;"></i></div>
                    <h4 class="title"><a href="">HTML Activities</a></h4>
                    <p class="description">With AdiCamp Run fully-interactive HTML content, including websites, applications and more. Gamify the learning experience, adding puzzles and HTML5 games.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon" style="background: #fff0da;"><i class="fa fa-users" style="color: #e98e06;"></i></div>
                    <h4 class="title"><a href="">social media sharing</a></h4>
                    <p class="description">From one single interface it is possible to create, design, schedule and publish your Campaign on your social media.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon" style="background: #e6fdfc;"><i class="fa fa-dropbox" style="color: #3fcdc7;"></i></div>
                    <h4 class="title"><a href="">Drag & drop</a></h4>
                    <p class="description">Simple drag and drop editor for creating layouts, adding content and customising your device home screen</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon" style="background: #ecebff;"><i class="fa fa-picture-o" style="color: #8660fe;"></i></div>
                    <h4 class="title"><a href="">Dynamic creatives</a></h4>
                    <p class="description">Adicamp uses template  with customizable dynamic fields so that create digital interactive experience.</p>
                    <p class="description">The background images and colours are customisable and you can pick different views such slider and grid views for each template.</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- #services -->