@{
    ViewData["Title"] = "Adilyze";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<section id="services" class="section-bg" style="margin-top:50px">
    <div class="container">

        <header class="section-header">
            <h3>Attendee Analytics</h3>
            <h2>Adilyze</h2>
            <p>This data-driven application gathers all the information of attendees and analyzes them to recognize patterns while better understanding revenue opportunities and exhibition marketing ROI.</p>
            <h3>Features of Adilyze</h3>
        </header>

        <div class="row justify-content-center align-items-center">

            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon" style="background: #fceef3;"><i class="fa fa-percent" style="color: #ff689b;"></i></div>
                    <h4 class="title"><a href="">Key event KPIs</a></h4>
                    <p class="description">Keep your team up-to-date with our standard and cross-event reports or, build by your own on-demand KPI to track data for each event across the entire period.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon" style="background: #fff0da;"><i class="fa fa-bar-chart" style="color: #e98e06;"></i></div>
                    <h4 class="title"><a href="">Feedback Analytics</a></h4>
                    <p class="description">Design a Campaign Can Be Time-money consuming. Adicamp make it for you quick and delightful.With AdiCamp Run fully-interactive HTML content, including websites, applications and more. Gamify the learning experience, adding puzzles and HTML5 games.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon" style="background: #e6fdfc;"><i class="fa fa-line-chart" style="color: #3fcdc7;"></i></div>
                    <h4 class="title"><a href="">Data Analytics</a></h4>
                    <p class="description">Content Management System</p>
                    <p class="description">Virtually track any activities related to exhibitions and events such as button taps, emails sent, time spent on scenes, the total number of users per day, and users’ interests in any products. Check your data at any time online with a data tracking dashboard.</p>
                </div>
            </div>
            @*<div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
            <div class="icon" style="background: #eafde7;"><i class="fa fa-user" style="color:#41cf2e;"></i></div>
            <h4 class="title"><a href="">Adimag</a></h4>
            <p class="description">Today, conventional printed catalogues and brochures are not eco-friendly and cost-effective. Emagazine is the modern way to share your identity. Adimag is an application to view, flip, and share your catalogues’ digital version with exceptional capabilities!</p>
            </div>
            </div>*@

            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon" style="background: #e1eeff;"><i class="fa fa-product-hunt" style="color: #2282ff;"></i></div>
                    <h4 class="title"><a href="">Integration</a></h4>
                    <p class="description">Integrate all data related to events and attendees with marketing automation, CRM, and other business systems. Accelerate follow-up and sales pipeline, then prove your event’s ROI.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon" style="background: #ecebff;"><i class="fa fa-book" style="color: #8660fe;"></i></div>
                    <h4 class="title"><a href="">Event Impact</a></h4>
                    <p class="description">Get the data and reporting you need based on the users’ interactions to build the next great event and calculate event marketing ROI by AI engine.</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- #services -->