@{
    ViewData["Title"] = "Adimactch";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<section id="services" class="section-bg" style="margin-top:50px">
    <div class="container">

        <header class="section-header">
            <h3>Content Management System</h3>
            <h3>Adimanager</h3>
            <p>Reliably and securely manage content with interactive user experience. Access the Adimanager from any modern browser on your PC, laptop, tablet or mobile device, without the need to install software or plugins.</p>
            <h3>Features of Adilyze</h3>
        </header>

        <div class="row justify-content-center align-items-center">

            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon" style="background: #fceef3;"><i class="fa fa-question" style="color: #ff689b;"></i></div>
                    <h4 class="title"><a href="">Content Management</a></h4>
                    <p class="description">The feed of you app including videos, images, pdfs and texts can be set here.</p>
                    <p class="description">For every part of client side application, there is some related setting and data feed which you can simply access them by clicking on. The supported formats are mentioned and the destination folder can be set locally or on cloud.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon" style="background: #fff0da;"><i class="fa fa-book" style="color: #e98e06;"></i></div>
                    <h4 class="title"><a href="">User Management</a></h4>
                    <p class="description">The manager can define accessibility to any part of the application for all types of users.</p>
                    <p class="description">Accessibility of users such as visitors, marketers, marketing manager can be restricted due to their responsibilities. They can access to their panel online via internet from any place to manage their parts and stay tuned and updated.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon" style="background: #e6fdfc;"><i class="fa fa-gear" style="color: #3fcdc7;"></i></div>
                    <h4 class="title"><a href="">General Settings</a></h4>
                    <p class="description">Some general settings such as languages and modes can be adjusted in this section.</p>
                    <p class="description">General setting like languages, timers, software modes and view/hide applications can be modify here. Software modes are portrait/landscape mode, standby/interactive mode, kinect/touch mode.</p>
                </div>
            </div>
        </div>

    </div>
</section><!-- #services -->