
@{
    ViewData["Title"] = "Adiroom";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<section id="services" class="section-bg" style="margin-top:50px">
    <div class="container">

        <header class="section-header">
            <h3>VIRTUAL ATTENDEE’S ROOM</h3>
            <h2>Adiroom</h2>
            <p>Your visitors can access anywhere anytime to your Adinux contents online. You can choose which apps can be available online for those who have not enough time to participate in your local booth.</p>
        </header>

        <div class="row justify-content-center align-items-center">

            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon" style="background: #fceef3;"><i class="fa fa-question" style="color: #ff689b;"></i></div>
                    <h4 class="title"><a href="">Company Bio</a></h4>
                    <p class="description">An Intro Page is displayed including Company exhibition address, office address, company web address and etc.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon" style="background: #fff0da;"><i class="fa fa-location-arrow" style="color: #e98e06;"></i></div>
                    <h4 class="title"><a href="">Exhibition Floor Plan</a></h4>
                    <p class="description">A Floor Plan of Expo Hall is displayed to locate your booth explicit on it to find easier by users</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon" style="background: #e6fdfc;"><i class="fa fa-flash" style="color: #3fcdc7;"></i></div>
                    <h4 class="title"><a href="">2 Month Available Online</a></h4>
                    <p class="description">Your contents storage limited to 200 MB and is available for 2 months after event, you can use Google Drive and OneDrive as a cloud storage to save all contents more than 200 MB including videos and images.</p>
                </div>
            </div>

        </div>

        <div class="justify-content-center align-items-center">
            <h2>A great option for online attendees</h2>
            <p>This solution fits to 3 parts of peoples: 1) some people who have not enough time to participate in event physically  2) some people have a long distance with the location of event and it is hard to travel 3) for those who attend in your booth but they had not enough time to see all information they needed, so they can explore all of your contents online later. Furthermore, this option is the best solution for COVID 19 situation due to restrictions and health considerations.</p>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide col-md-11" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="~/img/Adinux/Adiroom.png" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/img/Adinux/floor-plan.jpg" alt="Second slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section><!-- #services -->