
@{
    ViewData["Title"] = "Adishop";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}


<section id="services" class="section-bg" style="margin-top:50px">
    <div class="container">

        <header class="section-header">
            <h3>DIGITAL INTERACTIVE SHOP</h3>
            <h3>Adishop</h3>
            <p>it is so simple to create an interactive retail experience and integrate a payment terminal to allow attendee to select products,customize the purchase and pay for favourite products all in one place.</p>
            <h3>Adishop Feature</h3>
        </header>

        <div class="row justify-content-center align-items-center">

            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon" style="background: #fceef3;"><i class="fa fa-book" style="color: #ff689b;"></i></div>
                    <h4 class="title"><a href="">Pos terminal</a></h4>
                    <p class="description">connect POS terminal to touch kiosk to make a reliable,easy experience of purchasing.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon" style="background: #fff0da;"><i class="fa fa-users" style="color: #e98e06;"></i></div>
                    <h4 class="title"><a href="">External API Feeds</a></h4>
                    <p class="description">Connect REST API feeds to your interactive experience to pull in Products, Images, Video, Text which is Perfect to use in Retail experiences and Database solutions.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon" style="background: #e6fdfc;"><i class="fa fa-bar-chart" style="color: #3fcdc7;"></i></div>
                    <h4 class="title"><a href="">Audience Analytics</a></h4>
                    <p class="description">Based on statistical data acquired, it is possible to realize favourite items of target market and put smart promotions. </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon" style="background: #ecebff;"><i class="fa fa-picture-o" style="color: #8660fe;"></i></div>
                    <h4 class="title"><a href="">Customized design</a></h4>
                    <p class="description">another form of purchasing or pre-purchasing products in an event with the best customized design.</p>
                </div>
            </div>

        </div>

        <h2>Want to Speed Event ROI?</h2>
        <p>
            An Interactive Retail Experience allows users to browse the entire product catalogue, and they can customize the colour and packing options before placing an order, at which point a receipt is printed, which is taken to the counter to complete the purchase.
            Product information is pulled in via API from the Client’s website and stored locally in a database.
        </p>

        <img src="~/img/Adinux/IMG_5595.jpg" />

    </div>
</section><!-- #services -->

