@{
    ViewData["Title"] = "Adinux";
}


<!--==========================
Header
============================-->
<header id="header" style="background-color:#fcf0eb;">

    <div id="topbar">
        <div class="container">
            <div class="social-links">
                @*<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>*@
                <a href="https://www.linkedin.com/company/71553913/admin/feed/posts/" class="linkedin"><i class="fa fa-linkedin"></i></a>
                @*<a href="#" class="instagram"><i class="fa fa-instagram"></i></a>*@
            </div>
        </div>
    </div>

    <div class="container">

        <div class="logo float-left">
            <!-- Uncomment below if you prefer to use an image logo -->
            <h1 class="text-light"><a href="#intro" class="scrollto"><img src="~/img/Adinux/AdinuxLogo.png"></img></a></h1>
            <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
        </div>

        <nav class="main-nav float-right d-none d-lg-block">
            <ul>
                <li class="active"><a href="#intro">Home</a></li>
                <li><a href="#about">About Adinux</a></li>
                <li><a href="#services">Toolbox</a></li>
                @*<li><a href="#portfolio">Portfolio</a></li>*@
                <li><a href="#team">Team</a></li>
                <li class="drop-down">
                    <a href="">Pre-show</a>
                    <ul>
                        <li><a href="/Adicamp">Adi-Camp</a></li>
                        <li><a href="/Adimatch">Adi-Match</a></li>
                    </ul>
                </li>
                <li class="drop-down">
                    <a href="">At-show</a>
                    <ul>
                        <li><a href="/Adishow">Adi-Show</a></li>
                        <li><a href="/Adiroom">Adi-Room</a></li>
                        <li><a href="/Adimag">Adi-Bots</a></li>
                        <li><a href="/Adishop">Adi-Shop</a></li>
                    </ul>
                </li>
                <li class="drop-down">
                    <a href="">After-show</a>
                    <ul>
                        <li><a href="/Adilyze">Adi-Lyze</a></li>
                        <li><a href="/Adibox">Adi-Box</a></li>
                    </ul>
                </li>
                @*<li class="drop-down">
                    <a href="">Services</a>
                    <ul>
                        <li><a href="/Adishow">Adishow</a></li>
                        <li><a href="/Adishop">Adishop</a></li>
                        <li class="drop-down">
                            <a href="#">Drop Down 2</a>
                            <ul>
                                <li><a href="#">Deep Drop Down 1</a></li>
                                <li><a href="#">Deep Drop Down 2</a></li>
                                <li><a href="#">Deep Drop Down 3</a></li>
                                <li><a href="#">Deep Drop Down 4</a></li>
                                <li><a href="#">Deep Drop Down 5</a></li>
                            </ul>
                        </li>
                        <li><a href="/Adicamp">Adicamp</a></li>
                        <li><a href="/Adimatch">Adimatch</a></li>
                        <li><a href="/Adimag">Adimag</a></li>
                        <li><a href="/Adilyze">Adilyze</a></li>
                        <li><a href="/Adiroom">Adiroom</a></li>
                        <li><a href="/Adibox">Adibox</a></li>
                    </ul>
                </li>*@
                <li><a href="#footer">Contact Us</a></li>
                <li><a href="/Home/AboutUs">About Us</a></li>
            </ul>
        </nav><!-- .main-nav -->

    </div>
</header><!-- #header -->
<!--==========================
  Intro Section
============================-->
<section id="intro" class="clearfix">
    <div class="container d-flex h-100">
        <div class="row justify-content-center align-self-center">
            <div class="col-md-6 intro-info order-md-first order-last">
                <img src="~/img/Adinux/AdinuxLogo.png" style="width:250px;"></img>
                <h2>Solutions for <br>Your <span>Business!</span></h2>
                <div>
                    <a href="#about" class="btn-get-started scrollto">Get Started</a>
                </div>
            </div>

            <div class="col-md-6 intro-img order-md-last order-first">
                <img src="~/img/intro-img.svg" alt="" class="img-fluid" style="width:700px;">
            </div>
        </div>

    </div>
</section><!-- #intro -->

<main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">

        <div class="container">
            <div class="row">

                <div class="col-lg-5 col-md-6">
                    <div class="about-img">
                        <img src="~/img/about-img.jpg" alt="">
                    </div>
                </div>

                <div class="col-lg-7 col-md-6">
                    <div class="about-content">
                        <h2>About Adinux</h2>
                        <h3>Don’t be afraid to lead!</h3>
                        <h3>There is only one winner: The one that leads.</h3>
                        <p>After years of experience, Adinux team creates smart and creative presentations for business brands in exhibition. Every business is able to make the essence of its story tangible for its visitors in showrooms or trade shows with Adinux toolbox.</p>
                        <p>By unified AI-based Adinux Event Toolbox, You Can Master Your Event. Attracting visitors, generating Leads, playing AR games, Designing customized Campaigns,Creating new experience and smart follow-up are all in your hand easily without the need of coding! Empower your brand with the most innovative toolbox during your event!</p>
                        <ul>
                            <li><i class="ion-android-checkmark-circle"></i> Design customized Campaign with prepared Templates. </li>
                            <li><i class="ion-android-checkmark-circle"></i> find the ideal customer profile.</li>
                            <li><i class="ion-android-checkmark-circle"></i> Modern Media Presentation.</li>
                            <li><i class="ion-android-checkmark-circle"></i> customized gamification to attract leads.</li>
                            <li><i class="ion-android-checkmark-circle"></i> AI bot as a digital team member.</li>
                            <li><i class="ion-android-checkmark-circle"></i> Virtual Online Booth.</li>
                            <li><i class="ion-android-checkmark-circle"></i> Virtual Online Booth.</li>
                            <li><i class="ion-android-checkmark-circle"></i> Visitors behaviour and interest Analysis.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section><!-- #about -->
    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
        <div class="container">

            <header class="section-header">
                <h3>What is Adinux toolbox?</h3>
                <p>one comprehensive platform with multiple applications to create digital engaging experience</p>
            </header>

            <div class="row">

                <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon" style="background: #fceef3;"><i class="fa fa-camera" style="color: #ff689b;"></i></div>
                        <h4 class="title"><a href="/Adishow">Adishow</a></h4>
                        <p class="description">A common problem in every booth would be that they do not have enough space to present all products. Therefore, Adishow is the best solution for the audience to have a digital interactive experience. It supports all types of images and videos.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon" style="background: #fff0da;"><i class="fa fa-address-book" style="color: #e98e06;"></i></div>
                        <h4 class="title"><a href="/Adicamp">Adicamp</a></h4>
                        <p class="description">Design a Campaign Can Be Time-money consuming. Adicamp make it for you quick and delightful.With AdiCamp Run fully-interactive HTML content, including websites, applications and more. Gamify the learning experience, adding puzzles and HTML5 games.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon" style="background: #e6fdfc;"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
                        <h4 class="title"><a href="/Adimatch">Adimatch</a></h4>
                        <p class="description">Content Management System</p>
                        <p class="description">Reliably and securely manage content with interactive user experience. Access the Adimanager from any modern browser on your PC, laptop, tablet or mobile device, without the need to install software or plugins.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon" style="background: #eafde7;"><i class="fa fa-user" style="color:#41cf2e;"></i></div>
                        <h4 class="title"><a href="/Adimag">Adimag</a></h4>
                        <p class="description">Today, conventional printed catalogues and brochures are not eco-friendly and cost-effective. Emagazine is the modern way to share your identity. Adimag is an application to view, flip, and share your catalogues’ digital version with exceptional capabilities!</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon" style="background: #e1eeff;"><i class="fa fa-product-hunt" style="color: #2282ff;"></i></div>
                        <h4 class="title"><a href="/Adilyze">Adilyze</a></h4>
                        <p class="description">This data-driven application gathers all the information of attendees and analyzes them to recognize patterns while better understanding revenue opportunities and exhibition marketing ROI.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon" style="background: #ecebff;"><i class="fa fa-file-movie-o" style="color: #8660fe;"></i></div>
                        <h4 class="title"><a href="/Adiroom">Adiroom</a></h4>
                        <p class="description">Your visitors can access anywhere anytime to your Adinux contents online. You can choose which apps can be available online for those who have not enough time to participate in your local booth.</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- #services -->
    <!--==========================
      Why Us Section
    ============================-->
    <section id="services" class="section-bg">
        <div class="container">

            <header class="section-header">
                <div class="embed-responsive embed-responsive-16by9 d-flex justify-content-center">
                    <video class="demoVideo" controls poster="img/Adinux/video-cover11.png" style="width:900px;">
                        <source src="~/video/WhatsApp-Video-2021-02-23-at-10.34.17.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </header>
        </div>
    </section>

    @*<video class="embed-responsive-item" src="~/video/WhatsApp-Video-2021-02-23-at-10.34.17.mp4" allowfullscreen></video>*@


    <section id="why-us" class="wow fadeIn">
        <div class="container-fluid">

            <header class="section-header">
                <h3>Why choose us?</h3>
                @*<p>Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus.</p>*@
            </header>

            <div class="row">

                <div class="col-lg-6">
                    <div class="why-us-img">
                        <img src="img/why-us.jpg" alt="" class="img-fluid">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="why-us-content">

                        <div class="features wow bounceInUp clearfix">
                            <i class="fa fa-diamond" style="color: #f058dc;"></i>
                            <h4>We Make it Easy to Use it On Every Platform</h4>
                            <p>Client applications are available on Windows, Android and IOS platforms,  on Android tablets, IPads,Touch PCs and Touch Kiosks.</p>
                            <p>Manager application is cloud based from anywhere any time!</p>
                        </div>

                        <div class="features wow bounceInUp clearfix">
                            <i class="fa fa-object-group" style="color: #ffb774;"></i>
                            <h4>Choose the best hardware</h4>
                            <p>The complementary hardware to use with Adinux toolbox would be a touch screen, a touch kiosk or touch monitor in large size and a 10-inch tablet, or an all-in-one computer. If the appropriate hardware is not accessible, Adinux interactive solution package called Adibox is available for sale, including a touch device with LIDAR technology. Adibox can change any monitor to a touch device and a body gesture sensor (Microsoft Kinect) to use all Adinux apps.</p>
                        </div>

                        <div class="features wow bounceInUp clearfix">
                            <i class="fa fa-language" style="color: #589af1;"></i>
                            <h4>Unique Interactions</h4>
                            <p>WITH THE HELP OF KINECT AND LIDAR TECHNOLOGY</p>
                            <ul>
                                <li>Attractive Campaign Design</li>
                                <li>AR Interactive Games</li>
                                <li>Simple Use and Installation</li>
                                <li>Touch-less technologies suitable during COVID pandemic.</li>
                            </ul>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        @*<div class="container">
        <div class="row counters">

        <div class="col-lg-3 col-6 text-center">
        <span data-toggle="counter-up">274</span>
        <p>Clients</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
        <span data-toggle="counter-up">421</span>
        <p>Projects</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
        <span data-toggle="counter-up">1,364</span>
        <p>Hours Of Support</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
        <span data-toggle="counter-up">18</span>
        <p>Hard Workers</p>
        </div>

        </div>

        </div>*@
    </section>

    <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 text-center text-lg-left">
                    <h3 class="cta-title">Call To Action</h3>
                    <p class="cta-text"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle" href="#">Call To Action</a>
                </div>
            </div>

        </div>
    </section><!-- #call-to-action -->
    <!--==========================
      Features Section
    ============================-->
    <section id="features">
        <div class="container">

            <div class="row feature-item">
                <div class="col-lg-6 wow fadeInUp">
                    <img src="~/img/features-1.svg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
                    <h4>Our Approach in Adinux is Centered around Learning and Growing with Our Users</h4>
                    <p>In Adinux, our mission is to give every business the power to visualize an innovative picture of its brand, which is possible by learning from customers and their feedback during the period of an exhibition or tradeshow. We believe that a remarkable presentation and deep learning from customers’ interactions with the content of the exhibitions can determine the future of industry and result in a prolonged branding besides a significant profit.</p>
                </div>
            </div>

            <div class="row feature-item mt-5 pt-5">
                <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
                    <img src="~/img/features-2.svg" class="img-fluid" alt="">
                </div>

                <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
                    <h3>Our Values</h3>
                    <p>
                        We believe that our clients deserve special attention, so we treat them professionally. We believe in innovative and interactive value creation and strive to make our customers’ businesses superior.
                    </p>
                    <h5>Diligence</h5>
                    <p>
                        We believe that hardworking along with smart working lead to MAGIC!
                    </p>
                    <h5>Research</h5>
                    <p>We believe in cutting-edge and technology-based value creation; therefore, it is vital for us to keep up with the latest research and use it in our products.</p>
                    <h5>Flexibility</h5>
                    <p>
                        We believe in delighting everyone and being empowering, courageous and transparent.
                    </p>
                </div>

            </div>

        </div>
    </section><!-- #about -->
    <!--==========================
      Portfolio Section
    ============================-->
    @*<section id="portfolio" class="section-bg">
        <div class="container">

            <header class="section-header">
                <h3 class="section-title">Our Portfolio</h3>
            </header>

            <div class="row">
                <div class="col-lg-12">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-app">App</li>
                        <li data-filter=".filter-card">Card</li>
                        <li data-filter=".filter-web">Web</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="~/img/portfolio/app1.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4><a href="#">App 1</a></h4>
                            <p>App</p>
                            <div>
                                <a href="~/img/portfolio/app1.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
                    <div class="portfolio-wrap">
                        <img src="img/portfolio/web3.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4><a href="#">Web 3</a></h4>
                            <p>Web</p>
                            <div>
                                <a href="~/img/portfolio/web3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Preview"><i class="ion ion-eye"></i></a>
                                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
                    <div class="portfolio-wrap">
                        <img src="~/img/portfolio/app2.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4><a href="#">App 2</a></h4>
                            <p>App</p>
                            <div>
                                <a href="~/img/portfolio/app2.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 2" title="Preview"><i class="ion ion-eye"></i></a>
                                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="~/img/portfolio/card2.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4><a href="#">Card 2</a></h4>
                            <p>Card</p>
                            <div>
                                <a href="~/img/portfolio/card2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 2" title="Preview"><i class="ion ion-eye"></i></a>
                                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
                    <div class="portfolio-wrap">
                        <img src="~/img/portfolio/web2.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4><a href="#">Web 2</a></h4>
                            <p>Web</p>
                            <div>
                                <a href="~/img/portfolio/web2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="Preview"><i class="ion ion-eye"></i></a>
                                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
                    <div class="portfolio-wrap">
                        <img src="~/img/portfolio/app3.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4><a href="#">App 3</a></h4>
                            <p>App</p>
                            <div>
                                <a href="~/img/portfolio/app3.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="Preview"><i class="ion ion-eye"></i></a>
                                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="~/img/portfolio/card1.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4><a href="#">Card 1</a></h4>
                            <p>Card</p>
                            <div>
                                <a href="~/img/portfolio/card1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 1" title="Preview"><i class="ion ion-eye"></i></a>
                                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.1s">
                    <div class="portfolio-wrap">
                        <img src="~/img/portfolio/card3.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4><a href="#">Card 3</a></h4>
                            <p>Card</p>
                            <div>
                                <a href="~/img/portfolio/card3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 3" title="Preview"><i class="ion ion-eye"></i></a>
                                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.2s">
                    <div class="portfolio-wrap">
                        <img src="~/img/portfolio/web1.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4><a href="#">Web 1</a></h4>
                            <p>Web</p>
                            <div>
                                <a href="~/img/portfolio/web1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Preview"><i class="ion ion-eye"></i></a>
                                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>*@<!-- #portfolio -->
    <!--==========================
      Clients Section
    ============================-->
    @*<section id="testimonials">
        <div class="container">

            <header class="section-header">
                <h3>Testimonials</h3>
            </header>

            <div class="row justify-content-center">
                <div class="col-lg-8">

                    <div class="owl-carousel testimonials-carousel wow fadeInUp">

                        <div class="testimonial-item">
                            <img src="~/img/Adinux/ahmadi.jpeg" class="testimonial-img" alt="">
                            <h3>Hossein Ahmadi</h3>
                            <h4>Founder & CEO</h4>
                            <p>
                                He believes in making a difference and adding value to every move he makes. He has always been a game-changer manager.
                            </p>
                        </div>

                        <div class="testimonial-item">
                            <img src="~/img/Adinux/soltani.jpeg" class="testimonial-img" alt="">
                            <h3>Ali Soltani</h3>
                            <h4>CMO</h4>
                            <p>
                                Ali, a marketing hustler, believes that marketing is the heart of the business, and he is always updated with the newest methods.
                            </p>
                        </div>

                        <div class="testimonial-item">
                            <img src="~/img/Adinux/ZEINAB.jpeg" class="testimonial-img" alt="">
                            <h3>Zeinab Sobhi</h3>
                            <h4>CTO</h4>
                            <p>
                                She is a natural-born and professional programmer who can imagine every process with computer coding.
                            </p>
                        </div>

                        <div class="testimonial-item">
                            <img src="~/img/Adinux/farzaneh3.jpeg" class="testimonial-img" alt="">
                            <h3>Farzaneh Akbari</h3>
                            <h4>CRIO</h4>
                            <p>
                                When she decides to conduct research about a subject, you are totally sure that she covers all the details.
                            </p>
                        </div>

                    </div>

                </div>
            </div>


        </div>
    </section>*@<!-- #testimonials -->
    <!--==========================
      Team Section
    ============================-->
    <section id="team" class="section-bg">
        <div class="container">
            <div class="section-header">
                <h3>Team</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
            </div>

            <div class="row">

                <div class="col-lg-3 col-md-6 wow fadeInUp">
                    <div class="member">
                        <img src="~/img/Adinux/Ahmadi.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Hossein Ahmadi</h4>
                                <span>Chief Executive Officer</span>
                                <div class="social">
                                    @*<a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>*@
                                    <a href="https://www.linkedin.com/in/hossein-ahmadi-/"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="member">
                        <img src="~/img/Adinux/Soltani.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Ali Soltani</h4>
                                <span>Chief Marketing Officer</span>
                                <div class="social">
                                    @*<a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>*@
                                    <a href="https://www.linkedin.com/in/alisoltani64/"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="member">
                        <img src="~/img/Adinux/Zeinab.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Zeinab Sobhi</h4>
                                <span>Chief Technology Officer</span>
                                <div class="social">
                                    @*<a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>*@
                                    <a href="https://www.linkedin.com/in/zeinab-sobhi/"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="member">
                        <img src="~/img/Adinux/Farzaneh.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Farzaneh Akbari</h4>
                                <span>CRIO</span>
                                <div class="social">
                                    @*<a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>*@
                                    <a href="https://www.linkedin.com/in/farzaneh-akbari/"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- #team -->

    <section id="testimonials">
        <div class="container">

            <header class="section-header">
                <h3>Success Stories</h3>
            </header>

            <div class="row justify-content-center">
                <div class="col-lg-8">

                    <div class="owl-carousel testimonials-carousel wow fadeInUp">

                        <div class="testimonial-item">
                            <img src="~/img/Adinux/maddahi.jpg" class="testimonial-img" alt="">
                            <h3>Mr. Maddahi</h3>
                            <h4>CTO, Shahr Ara Newspaper</h4>
                            <p>
                                We had a considerable amount of multimedia content which never we couldn’t present to our audience in exhibitions; in favour of the Adinux platform, we could explain all of our identity and capabilities easily and fascinating. I’m happy to know about this application.
                            </p>
                        </div>

                        <div class="testimonial-item">
                            <img src="~/img/Adinux/farahani.jpg" class="testimonial-img" alt="">
                            <h3>Mr. Farhani</h3>
                            <h4>Head of Public Relations, SAIPA Corp.</h4>
                            <p>
                                We could transfer much information to our visitors, and they get what they need rapidly—information like our seasonal promotions, all available car models and our selling conditions. Adinux is a vital tool in exhibitions. We need it in any tradeshow events.
                            </p>
                        </div>

                        <div class="testimonial-item">
                            <img src="~/img/Adinux/shahrokh.png" class="testimonial-img" alt="">
                            <h3>Mr. Tavoosi</h3>
                            <h4>Manager & Owner, AMOND Studio</h4>
                            <p>
                                Alongside presenting our top and recent photo, we could attract more visitors by using a wheel of fortune game and register massive, engaged users to know more about us by using Adinux platform.
                            </p>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </section><!-- #Success Stories -->
    <!--==========================
      Clients Section
    ============================-->
    @*<section id="clients" class="wow fadeInUp">
    <div class="container">

    <header class="section-header">
    <h3>Our Clients</h3>
    </header>

    <div class="owl-carousel clients-carousel">
    <img src="~/img/clients/client-1.png" alt="">
    <img src="~/img/clients/client-2.png" alt="">
    <img src="~/img/clients/client-3.png" alt="">
    <img src="~/img/clients/client-4.png" alt="">
    <img src="~/img/clients/client-5.png" alt="">
    <img src="~/img/clients/client-6.png" alt="">
    <img src="~/img/clients/client-7.png" alt="">
    <img src="~/img/clients/client-8.png" alt="">
    </div>

    </div>
    </section><!-- #clients -->*@
    <!--==========================
      Pricing Section
    ============================-->
    @*<section id="pricing" class="wow fadeInUp section-bg">

    <div class="container">

    <header class="section-header">
    <h3>Pricing</h3>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
    </header>

    <div class="row flex-items-xs-middle flex-items-xs-center">

    <!-- Basic Plan  -->
    <div class="col-xs-12 col-lg-4">
    <div class="card">
    <div class="card-header">
    <h3><span class="currency">$</span>19<span class="period">/month</span></h3>
    </div>
    <div class="card-block">
    <h4 class="card-title">
    Basic Plan
    </h4>
    <ul class="list-group">
    <li class="list-group-item">Odio animi voluptates</li>
    <li class="list-group-item">Inventore quisquam et</li>
    <li class="list-group-item">Et perspiciatis suscipit</li>
    <li class="list-group-item">24/7 Support System</li>
    </ul>
    <a href="#" class="btn">Choose Plan</a>
    </div>
    </div>
    </div>

    <!-- Regular Plan  -->
    <div class="col-xs-12 col-lg-4">
    <div class="card">
    <div class="card-header">
    <h3><span class="currency">$</span>29<span class="period">/month</span></h3>
    </div>
    <div class="card-block">
    <h4 class="card-title">
    Regular Plan
    </h4>
    <ul class="list-group">
    <li class="list-group-item">Odio animi voluptates</li>
    <li class="list-group-item">Inventore quisquam et</li>
    <li class="list-group-item">Et perspiciatis suscipit</li>
    <li class="list-group-item">24/7 Support System</li>
    </ul>
    <a href="#" class="btn">Choose Plan</a>
    </div>
    </div>
    </div>

    <!-- Premium Plan  -->
    <div class="col-xs-12 col-lg-4">
    <div class="card">
    <div class="card-header">
    <h3><span class="currency">$</span>39<span class="period">/month</span></h3>
    </div>
    <div class="card-block">
    <h4 class="card-title">
    Premium Plan
    </h4>
    <ul class="list-group">
    <li class="list-group-item">Odio animi voluptates</li>
    <li class="list-group-item">Inventore quisquam et</li>
    <li class="list-group-item">Et perspiciatis suscipit</li>
    <li class="list-group-item">24/7 Support System</li>
    </ul>
    <a href="#" class="btn">Choose Plan</a>
    </div>
    </div>
    </div>

    </div>
    </div>

    </section>*@<!-- #pricing -->
    <!--==========================
      Frequently Asked Questions Section
    ============================-->
    @*<section id="faq">
    <div class="container">
    <header class="section-header">
    <h3>Frequently Asked Questions</h3>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
    </header>

    <ul id="faq-list" class="wow fadeInUp">
    <li>
    <a data-toggle="collapse" class="collapsed" href="#faq1">Non consectetur a erat nam at lectus urna duis? <i class="ion-android-remove"></i></a>
    <div id="faq1" class="collapse" data-parent="#faq-list">
    <p>
    Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
    </p>
    </div>
    </li>

    <li>
    <a data-toggle="collapse" href="#faq2" class="collapsed">Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque? <i class="ion-android-remove"></i></a>
    <div id="faq2" class="collapse" data-parent="#faq-list">
    <p>
    Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
    </p>
    </div>
    </li>

    <li>
    <a data-toggle="collapse" href="#faq3" class="collapsed">Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi? <i class="ion-android-remove"></i></a>
    <div id="faq3" class="collapse" data-parent="#faq-list">
    <p>
    Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
    </p>
    </div>
    </li>

    <li>
    <a data-toggle="collapse" href="#faq4" class="collapsed">Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla? <i class="ion-android-remove"></i></a>
    <div id="faq4" class="collapse" data-parent="#faq-list">
    <p>
    Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
    </p>
    </div>
    </li>

    <li>
    <a data-toggle="collapse" href="#faq5" class="collapsed">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="ion-android-remove"></i></a>
    <div id="faq5" class="collapse" data-parent="#faq-list">
    <p>
    Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
    </p>
    </div>
    </li>

    <li>
    <a data-toggle="collapse" href="#faq6" class="collapsed">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="ion-android-remove"></i></a>
    <div id="faq6" class="collapse" data-parent="#faq-list">
    <p>
    Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
    </p>
    </div>
    </li>

    </ul>

    </div>
    </section><!-- #faq -->*@

</main>

