@{
    ViewData["Title"] = "ServerError";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<header class="section-header" style="margin-top:150px">
    <h3>Unexpected Error <b>:(</b></h3>
    <h2>500</h2>
    <p>It's always time for a coffee break.</p>
    <p>We should be back by the time you finish your coffee.</p>
</header>