@model WebAdinux.Core.ViewMoels.SiteHeaderViewModel

@{
    Layout = null;
}

<div class="modal-header">
    <h5 class="modal-title">Edit Header</h5>
</div>
<hr />
<form asp-action="EditSubHeader" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input asp-for="Title" class="form-control" placeholder="Title" />
        <span asp-validation-for="Title" class="text-danger"></span>

        <input asp-for="Link" class="form-control" placeholder="Link" />
        <span asp-validation-for="Link" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Done" class="btn btn-success btn-block" />
    </div>
</form>