@model WebAdinux.Core.ViewMoels.GetEmailMessageViewModel

@{
    ViewData["Title"] = "RecivedMailDetails";
    Layout = null;
}

<div class="modal-header">
    <h5 class="modal-title">Mail Content</h5>
</div>
<hr />
<div class="modal-body">
    <dl class="row">
        <dd>
            @Html.DisplayFor(model => model.MessageContent)
        </dd>
    </dl>
</div>